@model IEnumerable<Databasae.Database.AdmissionH>
@{
    ViewData["Title"] = "Index";
}

<div id="mainDiv" class="container p-3 border my-5" style="display:none;font-size:12px">

    <div class="mx-5">

        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Admissions List</h2>
            </div>
            <div class="col-6 text-right">
                @if (Model.Count() > 0)
                {
                    <a asp-action="CreateNewAdmission" class="btn btn-outline-dark"><i class="fas fa-plus-square" style="font-size:20px"></i></a>
                }
                else
                {
                    <a asp-action="CreateNewAdmission" class="btn btn-primary"><i class="fas fa-plus-square" style="font-size:20px"></i></a>
                }


            </div>
        </div>
        <br />
        @if (Model.Count() > 0)
        {


            <table id="TableDataFetch" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Insurance</th>
                        <th>Doctor</th>
                        <th>Room</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:20%">
                                @item.Patient.PatientFirstName @item.Patient.PatientLastName
                            </td>
                            <td style="width:27%">
                                @item.AdmissionDateTime
                            </td>
                            <td style="width:20%">
                                @item.Insurance.InsuranceName
                            </td>
                            <td style="width:20%">
                                @item.Doctor.DoctorFirstName @item.Doctor.DoctorLastName
                            </td>
                            <td style="width:10%">
                                @item.Room.RoomNum
                            </td>
                            <td style="width:13%">
                                @if (@item.Discharge)
                                {
                                    <label class="text-danger" style="font-weight:bold">Discharged</label>
                                }
                                else
                                {
                                    <label>Admissioned</label>
                                }


                            </td>
                            <td>
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a asp-action="Edit" asp-route-id="@item.AdmissionHid" class="btn btn-outline-primary w-25 mx-1"><i class="fas fa-edit" style="font-size:20px"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.AdmissionHid" class="btn btn-outline-info w-25 mx-1"><i class="fas fa-info-circle" style="font-size:20px"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.AdmissionHid" class="btn btn-outline-danger w-25 mx-1"><i class="fas fa-trash-alt" style="font-size:20px"></i></a>
                                        <a asp-action="PatientFollowUp" asp-route-id="@item.PatientId" class="btn btn-primary w-25 mx-1"><i class="fas fa-hospital-alt" style="font-size:20px"></i></a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Insurance</th>
                        <th>Doctor</th>
                        <th>Room</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <h3 class="text-danger text-center text-lg-center">NO DATA EXISTS</h3>
        }

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#TableDataFetch').DataTable();
            $("#mainDiv").fadeIn(1000);

            $("td").click(function () {
                $('.selected').removeClass('selected');
                $(this).parents('tr').addClass('selected');
            });

            $('tr').mouseover(function () {
                $('tr').css('cursor', 'pointer');
            });

            //$("td").dblclick(function () {
            //    window.print()
            //});


        });



    </script>
}