@model EHR.Models.viewModel.admissionFullviewModel
@{
    ViewData["Title"] = "Create New Room";
}

<form id="mainForm">
    <div class="container border p-3 my-5" id="mainDiv" style="display:none">
        <div class="mx-5">
            <div class="row pt-4 col-12">
                <h2 class="text-info pl-0">Patient FollowUp</h2>
            </div>
            <hr />
            <div class="row pt-4 col-12">
                <h5 class="text-primary pl-0">Patient Info</h5>
            </div>
            <table id="PatientTable" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Insurance</th>
                        <th>Doctor</th>
                        <th>Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.AdmissionDateTime)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.InsuranceName)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.DoctorFirstName) @Html.DisplayFor(model => model.DoctorLastName)
                        </td>
                        <td style="width:13%">
                            @Html.DisplayFor(model => model.RoomNum)
                        </td>
                    </tr>
                </tbody>

            </table>


            <div class="form-group row pt-4 col-12">
                @if (Model.IsAdmissioned == true)
                {
                    <button type="button" class="btn btn-outline-primary mr-4" id="newVisit">New Visit <i class="fas fa-stethoscope" style="font-size:20px"></i></button>
                    <button type="button" class="btn btn-outline-primary mr-4" id="Prescription">New Prescription <i class="fas fa-prescription" style="font-size:20px"></i></button>
                    <button type="button" class="btn btn-outline-primary mr-4" id="transfer">Transfer <i class="fas fa-exchange-alt" style="font-size:20px"></i></button>
                    <button type="button" class="btn btn-dark mr-4" id="discharge">Discharge <i class="fas fa-door-open" style="font-size:20px"></i></button>
                }
                <a asp-action="Index" class="btn btn-outline-info mr-1 w-25"><i class="fas fa-arrow-circle-left" style="font-size:20px"></i></a>
            </div>

            @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
            @*Patient Discharge*@
            <br />
            <div id="PatientDischarge" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" id="closePatientDischarge">&times;</span>
                    </div>
                    <div class="modal-body">
                        <h2 class="text-danger">you are about to Discharge Patient @Model.PatientFirstName @Model.PatientLastName ! </h2>
                        <h3>are you Sure ?</h3>
                        <br />
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-danger" onclick="PatientDischarge()"><i class="fas fa-check-circle" style="font-size:30px;width:100px"></i></button>
                                </div>
                            </div>
                            <span class="text-danger" id="transferErrorMessage"></span>
                        </div>
                    </div>
                </div>

            </div>

            @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
            @*Transfer To New Room*@
            <br />
            <div id="addVisit" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" id="closeaddVisit">&times;</span>
                    </div>
                    <div class="modal-body">
                        <h2>Transfer to new Room</h2>
                        <br />
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId" id="roomNumTransfer" style="width:120px"></select>
                                    <button type="button" class="btn btn-outline-primary" onclick="transferRoom()"><i class="fas fa-exchange-alt" style="font-size:20px"></i></button>
                                </div>
                            </div>
                            <span class="text-danger" id="transferErrorMessage"></span>
                        </div>
                    </div>
                </div>

            </div>
            @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

            @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
            @*New Prescription*@
            <br />
            <div id="addNewPrescription" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" id="closeaddNewPrescription">&times;</span>
                    </div>
                    <div class="modal-body">
                        <h2>Add new Prescription</h2>
                        <br />
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <select asp-for="VisitId" class="form-control" asp-items="ViewBag.VisitId" id="visitId" style="width:220px"></select>
                                    <select asp-for="MedicineId" class="form-control" asp-items="ViewBag.MedicineId" id="medicineId" style="width:200px"></select>
                                    <button type="button" class="btn btn-outline-primary" onclick="newPrescription()"><i class="fas fa-prescription" style="font-size:20px"></i></button>
                                </div>
                            </div>
                            <span class="text-danger" id="PrescriptionErrorMessage"></span>

                        </div>
                    </div>
                </div>

            </div>
            @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@



            @*New Prescription*@
            <!--<div id="addNewPrescription" style="display:none">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select asp-for="VisitId" class="form-control" asp-items="ViewBag.VisitId" id="visitId"></select>
                        <select asp-for="MedicineId" class="form-control" asp-items="ViewBag.MedicineId" id="medicineId"></select>
                        <button type="button" class="btn btn-outline-primary" onclick="newPrescription()"><i class="fas fa-prescription" style="font-size:20px"></i></button>
                    </div>
                </div>
                <span class="text-danger" id="PrescriptionErrorMessage"></span>

            </div>-->


            <br />
            <div class="row pt-4 col-12">
                <h5 class="text-primary pl-0">Visits Info</h5>
            </div>
            @if (Model.visits.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%" id="TableDataFetch">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.visits)
                        {
                            <tr>
                                <td style="width:20%">
                                    <label style="color:blue;text-decoration:underline;cursor:pointer" onclick="info(@item.VisitId)">@Html.DisplayFor(model => item.VisitDate)</label>
                                    @*<a href="" onclick="info(@item.VisitId)"></a>*@


                                </td>
                                <td style="width:80%">
                                    @Html.DisplayFor(model => item.Doctor.DoctorFirstName) @Html.DisplayFor(model => item.Doctor.DoctorLastName)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
            else
            {
                <h3 class="text-danger text-center text-lg-center">NO DATA EXISTS</h3>
            }
            <hr />

            <div id="visitinfo">
                <div class="row pt-4 col-12">
                    <h5 class="text-primary pl-0">Prescriptions Info</h5>
                </div>
                <table class="table table-bordered table-striped" style="width:100%" id="prescriptionData">
                    <thead>
                        <tr>
                            <th>Drugs</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            NO DATA EXISTS
                        </td>
                    </tr>
                    <tbody>
                    </tbody>

                </table>
            </div>


        </div>
    </div>
</form>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $("#mainDiv").fadeIn(500);



            $('#TableDataFetch').DataTable();

            $("#TableDataFetch td").click(function () {
                $('.selected').removeClass('selected');
                $(this).parents('tr').addClass('selected');

            });

            $('tr').mouseover(function () {
                $('tr').css('cursor', 'pointer');
            });

        });

        function info(visitidinfo) {
            $("#prescriptionData").find("tr:gt(0)").remove();
            $('#prescriptionData').hide();
            $.ajax({
                url: '/AdmissionHs/GetPrescriptionInfo/' + visitidinfo,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < Object.keys(data.mydata).length; i++) {
                        $('#prescriptionData').append(`<tr><td>${data.mydata[i]}</td></tr>`);

                    }
                    $('#prescriptionData').show(1000);

                }

            });
        }

        //Transfer to New Room

        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var modaladdVisit = document.getElementById("addVisit");
        var btntransfer = document.getElementById("transfer");
        var span = document.getElementById("closeaddVisit");
        btntransfer.onclick = function () {
            modaladdVisit.style.display = "block";
        }
        span.onclick = function () {
            modaladdVisit.style.display = "none";
        }
        //window.onclick = function (event) {
        //    if (event.target == modaladdVisit) {
        //        modaladdVisit.style.display = "none";
        //    }
        //}
        //$("#transfer").click(function () {
        //    $("#addVisit").show();
        //    $('#roomNumTransfer').val('')
        //});

        function transferRoom() {
            $("#PatientTable tr").each(function () {
                myForm = $(this);
                //Ajax post for room
                $.ajax({
                    type: 'POST',
                    url: '/AdmissionHs/PatientTransfer/',
                    data: { id:@Model.PatientId , roomId: $('#roomNumTransfer option:selected').val()},
                    success: function (response) {
                        if (response.status) {
                            myForm.find("td:eq(4)").text($('#roomNumTransfer option:selected').text());
                            $("#addVisit").hide();
                            modal.style.display = "none";
                        } else {
                            //$('#transferErrorMessage').text(`*Error Message: Room ${$('#roomNumTransfer').val()} ${response.responseText}`);
                        }
                    }
                });

            });
        };


        //Add new Prescription
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        var modaladdNewPrescription = document.getElementById("addNewPrescription");
        var btnPrescription = document.getElementById("Prescription");
        var span = document.getElementById("closeaddNewPrescription");
        btnPrescription.onclick = function () {
            modaladdNewPrescription.style.display = "block";
        }
        span.onclick = function () {
            modaladdNewPrescription.style.display = "none";
        }
        //window.onclick = function (event) {
        //    if (event.target == modaladdNewPrescription) {
        //        modaladdNewPrescription.style.display = "none";
        //    }
        //}

        //$("#Prescription").click(function () {
        //    $("#addNewPrescription").show();
        //});

        function newPrescription() {
                myForm = $(this);
                //Ajax post for New Prescription
                $.ajax({
                    type: 'POST',
                    url: '/AdmissionHs/PatientNewPrescription/',
                    data: { visitId: $('#visitId option:selected').val(), medicineId: $('#medicineId option:selected').val()},
                    success: function (response) {
                        if (response.status) {
                            $("#addNewPrescription").hide();
                            info($('#visitId option:selected').val());
                            console.log($('#visitId option:selected').text());
                            $('#TableDataFetch tr td label').each(function () {
                                if ($(this).text() == $('#visitId option:selected').text()) {
                                    $('.selected').removeClass('selected');
                                    $(this).parents('tr').addClass('selected');
                                }
                            });

                        } else {
                            //$('#PrescriptionErrorMessage').text(`*Error Message: Room ${$('#roomNumTransfer').val()} ${response.responseText}`);
                        }
                    }
                });
        };


        //Patient Discharge
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        var modalaPatientDischarge = document.getElementById("PatientDischarge");
        var btndischarge = document.getElementById("discharge");
        var span = document.getElementById("closePatientDischarge");
        btndischarge.onclick = function () {
            modalaPatientDischarge.style.display = "block";
        }
        span.onclick = function () {
            modalaPatientDischarge.style.display = "none";
        }
        //window.onclick = function (event) {
        //    if (event.target == modaladdNewPrescription) {
        //        modaladdNewPrescription.style.display = "none";
        //    }
        //}

        //$("#Prescription").click(function () {
        //    $("#addNewPrescription").show();
        //});

        function PatientDischarge() {
                myForm = $(this);
                //Ajax post for New Prescription
                $.ajax({
                    type: 'POST',
                    url: '/AdmissionHs/PatientDischarge/',
                    data: { id:@Model.PatientId},
                    success: function (response) {
                        if (response.status) {
                            $('#newVisit').prop('disabled', true);
                            $('#Prescription').prop('disabled', true);
                            $('#transfer').prop('disabled', true);
                            $('#discharge').prop('disabled', true);
                            document.getElementById("PatientDischarge").style.display = "none";

                        } else {
                            //$('#PrescriptionErrorMessage').text(`*Error Message: Room ${$('#roomNumTransfer').val()} ${response.responseText}`);
                        }
                    }
                });
        };


    </script>
}
