@model EHR.Models.viewModel.admissionFullviewModel
@{
    ViewData["Title"] = "Create New Room";
}

<form id="mainForm">
    <div class="container border p-3 my-5" id="mainDiv" style="display:none">
        <div class="mx-5">
            <div class="row pt-4 col-12">
                <h2 class="text-info pl-0">Patient FollowUp</h2>
            </div>
            <hr />
            <div class="row pt-4 col-12">
                <h5 class="text-primary pl-0">Patient Info</h5>
            </div>
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Insurance</th>
                        <th>Doctor</th>
                        <th>Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.AdmissionDateTime)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.InsuranceName)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(model => model.DoctorFirstName) @Html.DisplayFor(model => model.DoctorLastName)
                        </td>
                        <td style="width:13%">
                            @Html.DisplayFor(model => model.RoomNum)
                        </td>
                    </tr>
                </tbody>

            </table>


            <div class="form-group row pt-4 col-12">
                <button type="button" class="btn btn-outline-primary mr-4" id="submit">New Visit <i class="fas fa-stethoscope" style="font-size:20px"></i></button>
                <button type="button" class="btn btn-outline-primary mr-4" id="submit">New Prescription <i class="fas fa-prescription" style="font-size:20px"></i></button>
                <button type="button" class="btn btn-outline-primary mr-4" id="submit">Transfer <i class="fas fa-exchange-alt" style="font-size:20px"></i></button>
                <button type="button" class="btn btn-dark mr-4" id="submit">Discharge <i class="fas fa-door-open" style="font-size:20px"></i></button>
                <a asp-action="Index" class="btn btn-outline-info mr-1 w-25"><i class="fas fa-arrow-circle-left" style="font-size:20px"></i></a>
            </div>
            <br />
            <div class="row pt-4 col-12">
                <h5 class="text-primary pl-0">Visits Info</h5>
            </div>
            @if (Model.visits.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%" id="TableDataFetch">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.visits)
                        {
                            <tr>
                                <td style="width:20%">
                                    <label style="color:blue;text-decoration:underline;cursor:pointer" onclick="info(@item.VisitId)">@Html.DisplayFor(model => item.VisitDate)</label>
                                    @*<a href="" onclick="info(@item.VisitId)"></a>*@


                                </td>
                                <td style="width:80%">
                                    @Html.DisplayFor(model => item.Doctor.DoctorFirstName) @Html.DisplayFor(model => item.Doctor.DoctorLastName)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
            else
            {
                <h3 class="text-danger text-center text-lg-center">NO DATA EXISTS</h3>
            }
            <hr />

            <div id="visitinfo">
                <div class="row pt-4 col-12">
                    <h5 class="text-primary pl-0">Prescriptions Info</h5>
                </div>
                <table class="table table-bordered table-striped" style="width:100%" id="prescriptionData">
                    <thead>
                        <tr>
                            <th>Drugs</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            NO DATA EXISTS
                        </td>
                    </tr>
                    <tbody>
                    </tbody>

                </table>
            </div>


        </div>
    </div>
</form>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $("#mainDiv").fadeIn(500);

            $('#TableDataFetch').DataTable();

            $("#TableDataFetch td").click(function () {
                $('.selected').removeClass('selected');
                $(this).parents('tr').addClass('selected');

            });

            $('tr').mouseover(function () {
                $('tr').css('cursor', 'pointer');
            });

        });

        function info(visitidinfo) {
            $("#prescriptionData").find("tr:gt(0)").remove();
            $('#prescriptionData').hide();
            $.ajax({
                url: '/AdmissionHs/GetPrescriptionInfo/' + visitidinfo,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(Object.keys(data.mydata).length);
                    for (var i = 0; i < Object.keys(data.mydata).length; i++) {
                        $('#prescriptionData').append(`<tr><td>${data.mydata[i]}</td></tr>`);

                    }
                    $('#prescriptionData').show(1000);

                }

            });
        }
    </script>
}
